.vacancies-table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 3em;
}

.vacancies-table :is(td, th) {
    border: 1px solid var(--black);
    padding: 12px 16px;
    color:var(--text-gray);
}

.vacancies-table > thead th {
    background-color: var(--dark-gray);
}

.vacancies-table tr:nth-child(odd) {
    background-color: var(--light-gray);
}

.vacancies-table tr:nth-child(even) {
    background-color: var(--dark-gray);
}

.remove-vacancie-button {
    padding: 8px 40px;
    border: none;
    border-radius: 4px;
    color: var(--black);
    background-color: var(--light-blue);
}